
body{
    font-family: 'Arvo', serif;
    margin: 0;
}

/* Header Section */

.first-heading{
    background-image: url(images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.help-heading{
    font-size: 45px;
    color: white;
    text-align: center;
    padding-top: 175px;   
}

#help-quote{
    font-size: 20px;
    color: white;
}

.button-one{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 150px;
}

.donate-button{
    text-decoration: none;
    color: white;
    box-shadow: 0 3px 15px gray;
    padding: 18px 35px;
    background-color: red;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

/* Donation Section */

h2{
    font-size: 45px;
}
.donation-heading{
    padding-top: 55px;
    text-align: center;
    margin-bottom: 80px;
}

#donation-quote{
    font-size: 18px;
    color: darkslategray;
    padding: 0 400px; 
}

.flex-container{ 
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.flex-box{
    width: 130px;
    height: 100px;
    background: rgba(206, 190, 190, 0.096);
    font-size: 25px;
    font-weight: 700;
    color: gray;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
    line-height: 100px;
}

.select-amount{
    color: red;
    border: 2px solid red;
}

.amount-container{
    text-align: center;
    margin-bottom:50px;
}

input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 400px;
    border-color: rgba(255, 0, 0, 0.212);
    border-width: 1px ;
    padding-left: 270px;
    padding-bottom: 10px;
}


/* Donation-plan-Section */

.flex-box-plan{
    width: 352px;
    height: 360px;
    margin: 50px;
    border-radius: 3px;
    text-align: center;
    margin-top: 0;
}

.donation-head{
    margin-top: 30px;
    text-align: left;
    padding-left: 20px;
    font-size: 24px;
}

.background-food{
    background-color: rgb(79, 157, 166, 0.1);
    text-align: justify;   
}

.background-family{
    background-color: rgb(255, 89, 89, 0.1);
    text-align: justify; 
}

.background-education{
    background-color: bisque;
    text-align: justify; 
}

.p-text-align{
    padding: 0 20px;
    text-align: justify;
    color: rgba(47, 79, 79, 0.651);
    font-weight: 400;
    font-size: 18px;
}

.icon-align{
    padding: 50px 20px 0 20px;
}

/* Footer Section */

.footer-adjust{
    text-align: center;
    background: #0B0D17;
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    padding: 40px;
    
}

.footer-head{
    color: red;
    font-family: 'Lobster', cursive;
}

.footer-quote{
    color: white;
    font-size: small;
}